#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	padding: 20px;
	border: 1px black solid;
	display: none;
	position: fixed;
	background: #FFF2E6;
	border-radius:7px; 
	width:550px;
	z-index: 10;
}
/* #dialogbox > div{ background:#FFF; margin:8px; } */
#dialogbox > div > #dialogboxhead{ background: #FFF2E6; font-size:19px; padding:10px; color: black; }
#dialogbox > div > #dialogboxbody{ background: #FFF2E6; padding:20px; color:black; text-align:center;}
#dialogbox > div > #dialogboxfoot{ background: #FFF2E6; padding:10px; text-align:center; }